<div class="card full-height">
  <div class="card-header text-truncate">
    <img src="assets/images/talk.png" alt="" class="avatar d-inline-block">
    <span class="mx-2">Active Members</span>
  </div>
  <div class="card-body p-0 o-scroll">
    <div class="list-group">
      <div class="list-group-item text-truncate" *ngFor="let member of members.sort()">
        <img [src]="member.profile || 'assets/images/talk.png'" alt="" class="avatar d-inline-block">
        <span class="mx-2">{{member.username}}</span>
      </div>
    </div>
  </div>
</div>