<div class="bottom">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-dark" type="button">&#43;</button>
    </div>
    <textarea type="text" class="form-control tb" placeholder="Type a message..." aria-label="" aria-describedby="basic-addon1" rows="1" name="txt" [(ngModel)]="txt" id="txt" (keyup.enter)="submit()"></textarea>
    <div class="input-group-append">
      <button class="btn btn-outline-dark" type="button">:)</button>
    </div>
  </div>
</div>